In [1]:
import numpy as np
import pandas as pd

### Using List

In [3]:
my_list = [100,200,300]

In [5]:
x = pd.Series(my_list)

In [6]:
x

0    100
1    200
2    300
dtype: int64

In [7]:
type(x)

pandas.core.series.Series

In [8]:
type(my_list)

list

### Using Numpy Array

In [9]:
arr = np.array([100,200,300])

In [10]:
arr

array([100, 200, 300])

In [12]:
pd.Series(arr,index=['A','B','C'])

A    100
B    200
C    300
dtype: int32

### Using Dictionaries

In [13]:
dict = {'A':100,'B':200,'C':300,'D':400}

In [14]:
z1  = pd.Series(dict)

In [15]:
z1

A    100
B    200
C    300
D    400
dtype: int64

In [19]:
z2 = pd.Series([10,20,30,40],'A B C E'.split())

In [20]:
z2

A    10
B    20
C    30
E    40
dtype: int64

In [18]:
'A B C D'.split()

['A', 'B', 'C', 'D']

In [21]:
z1+z2

A    110.0
B    220.0
C    330.0
D      NaN
E      NaN
dtype: float64

### Slicing in Series

In [22]:
z1

A    100
B    200
C    300
D    400
dtype: int64

In [23]:
z1['A':'C']

A    100
B    200
C    300
dtype: int64

In [24]:
z1[0:3]

A    100
B    200
C    300
dtype: int64

In [25]:
z1.loc['A':'C']

A    100
B    200
C    300
dtype: int64

In [26]:
z1.iloc[0:3]

A    100
B    200
C    300
dtype: int64

In [27]:
z = pd.Series({100:'b',200:'d',300:'e'})

In [28]:
z

100    b
200    d
300    e
dtype: object

In [29]:
z[0]

KeyError: 0

In [30]:
z.iloc[0]

'b'

In [32]:
type(z1.loc['A':'C'])

pandas.core.series.Series

### Operation

In [33]:
z1

A    100
B    200
C    300
D    400
dtype: int64

In [34]:
z1>100

A    False
B     True
C     True
D     True
dtype: bool

In [35]:
z1[z1>100]

B    200
C    300
D    400
dtype: int64

In [36]:
b = [True,False,True,False]
z1[b]

A    100
C    300
dtype: int64

## Brodcasting

In [37]:
z1+200

A    300
B    400
C    500
D    600
dtype: int64

In [38]:
z1

A    100
B    200
C    300
D    400
dtype: int64

### Ordering on Series

In [45]:
z1.sort_values(ascending=False,inplace=True)

In [46]:
z1.index[0]

'D'

### Aggregation on Series

In [47]:
z1

D    400
C    300
B    200
A    100
dtype: int64

In [48]:
z1.mean()

250.0

In [49]:
z1.sum()

1000

In [50]:
z1.max()

400

In [51]:
z1.idxmax()

'D'

In [52]:
z1.idxmin()

'A'

### DataFrame

In [53]:
rand_mat = np.random.randn(5,4)

In [54]:
rand_mat

array([[-1.08773645e+00,  1.01621568e+00, -5.00225372e-01,
         1.26828178e+00],
       [-1.23751091e+00,  6.41826984e-01, -1.29006108e+00,
        -3.70545363e-01],
       [ 8.00236943e-05, -7.66196742e-01,  1.30039439e-01,
         3.97080184e-01],
       [ 3.93826317e-01, -4.22926115e-01, -1.10604515e+00,
        -3.99599081e-01],
       [-2.55396011e+00, -1.27500350e+00,  6.71392453e-01,
        -4.89557604e-01]])

In [56]:
df = pd.DataFrame(data = rand_mat,index= 'A B C D E'.split(),columns=  'W X Y Z'.split())

In [57]:
df

          W         X         Y         Z
A -1.087736  1.016216 -0.500225  1.268282
B -1.237511  0.641827 -1.290061 -0.370545
C  0.000080 -0.766197  0.130039  0.397080
D  0.393826 -0.422926 -1.106045 -0.399599
E -2.553960 -1.275004  0.671392 -0.489558

### Selection and Indexing

In [58]:
df.loc['A']

W   -1.087736
X    1.016216
Y   -0.500225
Z    1.268282
Name: A, dtype: float64

In [61]:
type(df['W'])

pandas.core.series.Series

In [62]:
type(df[['W','Z']])

pandas.core.frame.DataFrame

### Creating a New Column:

In [63]:
df['new'] = df['W']+df['Y']

In [64]:
df

          W         X         Y         Z       new
A -1.087736  1.016216 -0.500225  1.268282 -1.587962
B -1.237511  0.641827 -1.290061 -0.370545 -2.527572
C  0.000080 -0.766197  0.130039  0.397080  0.130119
D  0.393826 -0.422926 -1.106045 -0.399599 -0.712219
E -2.553960 -1.275004  0.671392 -0.489558 -1.882568

In [67]:
df.drop('new',axis=1,inplace=True)

In [68]:
df

          W         X         Y         Z
A -1.087736  1.016216 -0.500225  1.268282
B -1.237511  0.641827 -1.290061 -0.370545
C  0.000080 -0.766197  0.130039  0.397080
D  0.393826 -0.422926 -1.106045 -0.399599
E -2.553960 -1.275004  0.671392 -0.489558

In [69]:
df.drop('E',axis=0)

          W         X         Y         Z
A -1.087736  1.016216 -0.500225  1.268282
B -1.237511  0.641827 -1.290061 -0.370545
C  0.000080 -0.766197  0.130039  0.397080
D  0.393826 -0.422926 -1.106045 -0.399599

### Adding a New Row

In [70]:
df.loc['F'] = df.loc['A']+df.loc['B']

In [71]:
df

          W         X         Y         Z
A -1.087736  1.016216 -0.500225  1.268282
B -1.237511  0.641827 -1.290061 -0.370545
C  0.000080 -0.766197  0.130039  0.397080
D  0.393826 -0.422926 -1.106045 -0.399599
E -2.553960 -1.275004  0.671392 -0.489558
F -2.325247  1.658043 -1.790286  0.897736

In [73]:
df.Z #Not Recommended

A    1.268282
B   -0.370545
C    0.397080
D   -0.399599
E   -0.489558
F    0.897736
Name: Z, dtype: float64