In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
# list, array and dictionary

In [4]:
# using list

In [7]:
my_list = [100,200,300]

In [10]:
x = pd.Series(my_list)
x

0    100
1    200
2    300
dtype: int64

In [9]:
arr = np.array([100,200,300])
arr

array([100, 200, 300])

In [11]:
pd.Series(arr,index=['a','b','c'])

a    100
b    200
c    300
dtype: int32

In [12]:
#using dictionary

In [20]:
dict = {'A':100, 'B':200, 'C':300}

In [21]:
z1 = pd.Series(dict)

In [22]:
z1

A    100
B    200
C    300
dtype: int64

In [30]:
z2 = pd.Series([10,20,30], 'A B C'.split())

In [31]:
z2

A    10
B    20
C    30
dtype: int64

In [32]:
'A B C'.split()

['A', 'B', 'C']

In [33]:
z1+z2

A    110
B    220
C    330
dtype: int64

In [34]:
#Slicing

In [35]:
z1

A    100
B    200
C    300
dtype: int64

In [36]:
z1['A':'B']

A    100
B    200
dtype: int64

In [37]:
z1[0:3]

A    100
B    200
C    300
dtype: int64

In [38]:
z1.loc['A':'B']

A    100
B    200
dtype: int64

In [39]:
z1.iloc[0:3]

A    100
B    200
C    300
dtype: int64

In [40]:
z = pd.Series({100:'A', 200:'B', 300:'C'})

In [41]:
z.iloc[0]

'A'

In [43]:
type(z1.loc['A':'B'])

pandas.core.series.Series

In [44]:
#operations

In [45]:
z1>100

A    False
B     True
C     True
dtype: bool

In [64]:
z1[z1>100]

B    200
C    300
dtype: int64

In [102]:
z1 = pd.Series(dict)
z1
b = [True,False,True]
z1[b]

A    100
C    300
dtype: int64

In [68]:
z1+200

A    300
B    400
C    500
dtype: int64

In [69]:
z1

A    100
B    200
C    300
dtype: int64

In [70]:
z1.sort_values(ascending=False)

C    300
B    200
A    100
dtype: int64

In [71]:
z1

A    100
B    200
C    300
dtype: int64

In [72]:
z1.sort_values(ascending=False, inplace=True)
z1.index[0]

'C'

In [60]:
#aggregation series

In [61]:
dict = {'A':100, 'B':200, 'C':300}

In [62]:
z1 = pd.Series(dict)
z1

A    100
B    200
C    300
dtype: int64

In [63]:
z1.mean

<bound method Series.mean of A    100
B    200
C    300
dtype: int64>

In [75]:
z1.idxmin()

'A'

In [76]:
rand_mat = np.random.randn(5,4)

In [77]:
rand_mat

array([[-0.36606438,  0.95911185,  0.17561972, -1.34129451],
       [ 1.06019539, -1.08265791,  0.70501557, -0.0998963 ],
       [ 0.27170156, -0.22409145,  1.73151491,  0.39012194],
       [-0.11710147, -0.16522965,  2.00207969, -0.10376982],
       [-0.20062494,  0.43415338, -0.02005366, -0.14930721]])

In [79]:
df = pd.DataFrame(data = rand_mat, index = 'A B C D E'.split(), columns = "W X Y Z".split())
df

          W         X         Y         Z
A -0.366064  0.959112  0.175620 -1.341295
B  1.060195 -1.082658  0.705016 -0.099896
C  0.271702 -0.224091  1.731515  0.390122
D -0.117101 -0.165230  2.002080 -0.103770
E -0.200625  0.434153 -0.020054 -0.149307

In [80]:
#selection and indexing

In [82]:
df.loc['A']

W   -0.366064
X    0.959112
Y    0.175620
Z   -1.341295
Name: A, dtype: float64

In [85]:
type(df['W'])

pandas.core.series.Series

In [87]:
df[['W','Z']]

          W         Z
A -0.366064 -1.341295
B  1.060195 -0.099896
C  0.271702  0.390122
D -0.117101 -0.103770
E -0.200625 -0.149307

In [88]:
#creating a new column

In [90]:
df['new'] = df['W']+df['Y']

In [91]:
df

          W         X         Y         Z       new
A -0.366064  0.959112  0.175620 -1.341295 -0.190445
B  1.060195 -1.082658  0.705016 -0.099896  1.765211
C  0.271702 -0.224091  1.731515  0.390122  2.003216
D -0.117101 -0.165230  2.002080 -0.103770  1.884978
E -0.200625  0.434153 -0.020054 -0.149307 -0.220679

In [93]:
df.drop('new', axis=1, inplace=True)

In [94]:
df

          W         X         Y         Z
A -0.366064  0.959112  0.175620 -1.341295
B  1.060195 -1.082658  0.705016 -0.099896
C  0.271702 -0.224091  1.731515  0.390122
D -0.117101 -0.165230  2.002080 -0.103770
E -0.200625  0.434153 -0.020054 -0.149307

In [95]:
df.drop('E', axis=0)

          W         X         Y         Z
A -0.366064  0.959112  0.175620 -1.341295
B  1.060195 -1.082658  0.705016 -0.099896
C  0.271702 -0.224091  1.731515  0.390122
D -0.117101 -0.165230  2.002080 -0.103770

In [99]:
df.loc['F'] = df.loc['B']+df.loc['A']
df.loc
df

          W         X         Y         Z
A -0.366064  0.959112  0.175620 -1.341295
B  1.060195 -1.082658  0.705016 -0.099896
C  0.271702 -0.224091  1.731515  0.390122
D -0.117101 -0.165230  2.002080 -0.103770
E -0.200625  0.434153 -0.020054 -0.149307
F  0.694131 -0.123546  0.880635 -1.441191

In [100]:
df.Z

A   -1.341295
B   -0.099896
C    0.390122
D   -0.103770
E   -0.149307
F   -1.441191
Name: Z, dtype: float64