In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
# qns 1

In [5]:
pd.read_csv('population_india_census2011.csv',encoding='unicode_escape')

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio
0,1,North,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2",912
1,2,West,Maharashtra,112374333,61556074,50818259,"307,713 km2",929
2,3,North,Bihar,104099452,92341436,11758016,"94,163 km2",918
3,4,East,West Bengal,91276115,62183113,29093002,"88,752 km2",953
4,5,Cntral,Madhya Pradesh,72626809,52557404,20069405,"308,245 km2",931
5,6,South,Tamil Nadu,72147030,37229590,34917440,"130,058 km2",996
6,7,North,Rajasthan,68548437,51500352,17048085,"342,239 km2",928
7,8,South,Karnataka,61095297,37469335,23625962,"191,791 km2",973
8,9,West,Gujarat,60439692,34694609,25745083,"196,024 km2",919
9,10,South,Andhra Pradesh,49577103,34966693,14610410,"162,968 km2",993
10,11,East,Odisha,41974218,34970562,7003656,"155,707 km2",979
11,12,South,Telengana,35003674,21395009,13608665,"112,077 km2",988
12,13,South,Kerala,33406061,17471135,15934926,"38,863 km2",1084
13,14,Central,Jharkhand,32988134,25055073,7933061,"79,714 km2",948
14,15,Noth East,Assam,31205576,26807034,4398542,"78,438 km2",954
15,16,North,Punjab,27743338,17344192,10399146,"50,362 km2",895
16,17,Central,Chhattisgarh,25545198,19607961,5937237,"135,191 km2",991
17,18,North,Haryana,25351462,16509359,8842103,"44,212 km2",879
18,19,North,Uttarakhand,10086292,7036954,3049338,"53,483 km2",963
19,20,North,Himachal Pradesh,6864602,6176050,688552,"55,673 km2",972
20,21,Noth East,Tripura,3673917,2712464,961453,"10,486 km2",960
21,22,Noth East,Meghalaya,2966889,2371439,595450,"22,429 km2",989
22,23,Noth East,Manipur,2570390,1793875,776515,"22,327 km2",992
23,24,Noth East,Nagaland,1978502,1407536,570966,"16,579 km2",931
24,25,West,Goa,1458545,551731,906814,"3,702 km2",973
25,26,Noth East,Arunachal Pradesh,1383727,1066358,317369,"83,743 km2",938
26,27,Noth East,Mizoram,1097206,525435,571771,"21,081 km2",976
27,28,Noth East,Sikkim,610577,456999,153578,"7,096 km2",890
28,29,North,Delhi,16787941,419042,16368899,"1,484 km2",868
29,30,North,Jammu and Kashmir,12267032,9064220,3202812,"125,535 km2",890
30,31,South,Puducherry,1247953,395200,852753,479 km2,1037
31,32,North,Chandigarh,1055450,28991,1026459,114 km2,818
32,33,West,Dadra and Nagar Haveli and Daman and Diu,585764,243510,342254,603 km2,711
33,34,South,Andaman and Nicobar Islands,380581,237093,143488,"8,249 km2",876
34,35,North,Ladakh,274000,43840,230160,"96,701 km2",853
35,36,South,Lakshadweep,64473,14141,50332,32 km2,946

In [6]:
pop = pd.read_csv('population_india_census2011.csv',encoding='unicode_escape')

In [7]:
# qns 2 a

In [8]:
pop.head()

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio
0,1,North,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2",912
1,2,West,Maharashtra,112374333,61556074,50818259,"307,713 km2",929
2,3,North,Bihar,104099452,92341436,11758016,"94,163 km2",918
3,4,East,West Bengal,91276115,62183113,29093002,"88,752 km2",953
4,5,Cntral,Madhya Pradesh,72626809,52557404,20069405,"308,245 km2",931

In [9]:
# qns 2 b

In [10]:
pop.head(10)

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio
0,1,North,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2",912
1,2,West,Maharashtra,112374333,61556074,50818259,"307,713 km2",929
2,3,North,Bihar,104099452,92341436,11758016,"94,163 km2",918
3,4,East,West Bengal,91276115,62183113,29093002,"88,752 km2",953
4,5,Cntral,Madhya Pradesh,72626809,52557404,20069405,"308,245 km2",931
5,6,South,Tamil Nadu,72147030,37229590,34917440,"130,058 km2",996
6,7,North,Rajasthan,68548437,51500352,17048085,"342,239 km2",928
7,8,South,Karnataka,61095297,37469335,23625962,"191,791 km2",973
8,9,West,Gujarat,60439692,34694609,25745083,"196,024 km2",919
9,10,South,Andhra Pradesh,49577103,34966693,14610410,"162,968 km2",993

In [11]:
# qns 3

In [12]:
list(pop.columns)

['Sno',
 'Region',
 'State / Union Territory',
 'Population',
 'Rural population',
 'Urban population',
 'Area',
 'Gender Ratio']

In [13]:
# qns 4

In [14]:
len(pop['State / Union Territory'].unique())

36

In [15]:
# qns 5

In [16]:
pop['State / Union Territory'].unique()

array(['Uttar Pradesh', 'Maharashtra', 'Bihar', 'West Bengal',
       'Madhya Pradesh', 'Tamil Nadu', 'Rajasthan', 'Karnataka',
       'Gujarat', 'Andhra Pradesh', 'Odisha', 'Telengana', 'Kerala',
       'Jharkhand', 'Assam', 'Punjab', 'Chhattisgarh', 'Haryana',
       'Uttarakhand', 'Himachal Pradesh', 'Tripura', 'Meghalaya',
       'Manipur', 'Nagaland', 'Goa', 'Arunachal Pradesh', 'Mizoram',
       'Sikkim', 'Delhi', 'Jammu and Kashmir', 'Puducherry', 'Chandigarh',
       'Dadra and Nagar Haveli and Daman and Diu',
       'Andaman and Nicobar Islands', 'Ladakh', 'Lakshadweep'],
      dtype=object)

In [17]:
# qns 6

In [18]:
pop['Region'].value_counts()

North        11
South         8
Noth East     8
West          4
Central       2
East          2
Cntral        1
Name: Region, dtype: int64

In [19]:
# qns 7

In [20]:
print(pop[['State / Union Territory', 'Population']][pop.Population == pop.Population.max()])

  State / Union Territory  Population
0           Uttar Pradesh   199812341

In [21]:
# qns 8

In [22]:
print(pop[['Region', 'Population']][pop.Population == pop.Population.max()])

  Region  Population
0  North   199812341

In [23]:
# qns 10

In [24]:
pop[pop['State / Union Territory'].str.contains("Pradesh")]

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio
0,1,North,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2",912
4,5,Cntral,Madhya Pradesh,72626809,52557404,20069405,"308,245 km2",931
9,10,South,Andhra Pradesh,49577103,34966693,14610410,"162,968 km2",993
19,20,North,Himachal Pradesh,6864602,6176050,688552,"55,673 km2",972
25,26,Noth East,Arunachal Pradesh,1383727,1066358,317369,"83,743 km2",938

In [25]:
# qns 9

In [28]:
pop['Gender Ratio']>900

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15    False
16     True
17    False
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27    False
28    False
29    False
30     True
31    False
32    False
33    False
34    False
35     True
Name: Gender Ratio, dtype: bool

In [32]:
# qns 12

In [74]:
pop['Highest divison'] = pop['Rural population']/pop['Urban population']
pop['Highest divison']

0     3.490663
1     1.211298
2     7.853488
3     2.137391
4     2.618782
5     1.066218
6     3.020888
7     1.585939
8     1.347621
9     2.393273
10    4.993187
11    1.572161
12    1.096405
13    3.158311
14    6.094527
15    1.667848
16    3.302540
17    1.867130
18    2.307699
19    8.969620
20    2.821213
21    3.982600
22    2.310161
23    2.465184
24    0.608428
25    3.359994
26    0.918961
27    2.975680
28    0.025600
29    2.830082
30    0.463440
31    0.028244
32    0.711489
33    1.652354
34    0.190476
35    0.280954
Name: Highest divison, dtype: float64

In [ ]:
# qns 11